body {
  background: url("images/bg-body.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Roboto;
  overflow: hidden; }

.popover .popover-title {
  color: #fff; }

.mCSB_container {
  margin-right: 8px !important; }

.mCSB_dragger_bar {
  background: #f07400 !important; }

.mCSB_draggerRail {
  background: #26244f !important; }

.icon-attackspeed {
  background-image: url("images/icon-attackspeed.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-count {
  background-image: url("images/icon-count.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-damage {
  background-image: url("images/icon-damage.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-duration {
  background-image: url("images/icon-duration.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-health {
  background-image: url("images/icon-health.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-range {
  background-image: url("images/icon-range.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-speed {
  background-image: url("images/icon-speed.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-targets {
  background-image: url("images/icon-targets.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-radius {
  background-image: url("images/icon-radius.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.block, .master-selection, .card-stats, .card-filters, .card-list {
  background-color: #15142c;
  border: 3px solid #35383c;
  border-radius: 5px; }

.logo {
  position: absolute;
  top: 2px;
  left: 10px;
  z-index: 2;
  background-image: url("images/logo2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 80px; }

.navbar {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase; }
  .navbar .navbar-header {
    font-size: 20px;
    margin-left: 120px; }
    .navbar .navbar-header small {
      font-size: 8px;
      margin-left: 10px; }
  .navbar .navbar-right {
    font-size: 18px; }
  .navbar .fa {
    float: left;
    position: relative;
    top: -8px; }

.card-cost {
  background-image: url("images/bg-manacost.png");
  background-size: 100%;
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center; }

.master-selection {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }
  .master-selection img {
    background: #363472;
    border: 3px solid #c0a659;
    width: 100px;
    height: 100px;
    margin-bottom: 10px; }
  .master-selection .ui-select-container {
    max-width: 200px;
    margin: auto; }
  .master-selection .ui-select-choices-row {
    background-color: #363472 !important; }
    .master-selection .ui-select-choices-row.active > span {
      background-color: #f07400 !important; }
    .master-selection .ui-select-choices-row:hover > span {
      background-color: #bd5b00 !important; }
  .master-selection .ui-select-placeholder {
    color: #fff6cc; }
  .master-selection .ui-select-choices-row-inner {
    color: #fff !important;
    line-height: 32px !important; }
    .master-selection .ui-select-choices-row-inner img {
      border-width: 1px;
      float: left;
      height: 32px;
      width: 32px;
      margin-right: 10px; }

.card-selection {
  width: calc(100% + 8px);
  position: relative;
  left: -4px; }

.card-stats {
  padding: 15px; }
  .card-stats table {
    margin: 0;
    font-size: 12px; }
    .card-stats table th {
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .card-stats table tr:first-child th, .card-stats table tr:first-child td {
      border-top: 0; }
    .card-stats table td {
      text-align: center; }
  .card-stats h2 {
    position: relative;
    font-size: 22px;
    margin: 0;
    height: 32px;
    line-height: 32px; }
  .card-stats .card-cost {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 42px; }
  .card-stats .divider {
    background-image: url("images/divider.png");
    background-size: 100%;
    background-position: center center;
    width: 200px;
    height: 13px;
    margin: 10px auto; }

.card-filters {
  padding: 10px 5px;
  margin: 10px 0; }
  .card-filters > * {
    min-height: 34px;
    line-height: 34px;
    margin-left: 5px; }
  .card-filters .checkbox {
    float: left;
    margin: 0;
    margin-right: 8px; }
    .card-filters .checkbox input {
      margin-left: -16px;
      top: 7px; }
  .card-filters .form-control {
    position: relative;
    top: 2px; }

.card-list {
  background-color: #17141a;
  background-position: right bottom;
  background-repeat: no-repeat;
  max-height: calc(100vh - ((100vw/10 - 2*8px - 60px/10)*1.18519) - 30px - 60px - 50px);
  overflow-y: auto; }

card {
  margin: 0; }
  card .card-rarity-Regular {
    outline-color: #7f7f7f; }
  card .card-rarity-Common {
    outline-color: #82b577; }
  card .card-rarity-Rare {
    outline-color: #3d77c6; }
  card .card-rarity-Supreme {
    outline-color: #a055a0; }
  card .card-rarity-Legendary {
    outline-color: #c0a659; }
  card > div {
    background-size: 100%;
    display: block;
    float: left;
    margin: 8px 8px;
    position: relative;
    outline: 3px solid red;
    border: 2px solid #18181e;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    background-color: #000; }
  card .card-name {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    height: 20%;
    width: 100%;
    text-align: center; }
  card .card-cost {
    position: absolute;
    top: -19%;
    right: -2px;
    z-index: 2;
    width: 46%;
    height: 38%; }

.card-popover {
  width: 200px;
  color: #fff; }
  .card-popover .card-field {
    width: 50%;
    float: left;
    line-height: 24px;
    height: 24px; }
  .card-popover [class*="icon-"] {
    float: left;
    height: 24px;
    width: 24px;
    margin-right: 3px; }
  .card-popover .card-cost {
    position: absolute;
    top: 2px;
    right: 0; }
  .card-popover .card-description {
    font-size: 12px;
    margin-top: 5px; }
  .card-popover small {
    font-size: 10px; }

/*# sourceMappingURL=app.css.map */
