body {
  background: #15142c; }

.icon-attackspeed {
  background-image: url("images/icon-attackspeed.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-count {
  background-image: url("images/icon-count.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-damage {
  background-image: url("images/icon-damage.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-duration {
  background-image: url("images/icon-duration.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-health {
  background-image: url("images/icon-health.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-range {
  background-image: url("images/icon-range.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-speed {
  background-image: url("images/icon-speed.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-targets {
  background-image: url("images/icon-targets.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.icon-radius {
  background-image: url("images/icon-radius.png");
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }

.card-selection {
  margin: 30px;
  width: calc(100% - 60px);
  height: calc((100vw/10 - 2*8px - 60px/10)*1.18519);
  margin-top: 10px;
  margin-bottom: 40px; }
  .card-selection card > div {
    width: calc(100vw/10 - 2*8px - 60px/10);
    height: calc((100vw/10 - 2*8px - 60px/10)*1.18519); }

.card-list {
  margin: 30px;
  padding: 10px;
  width: calc(100% - 60px);
  border: 3px solid #35383c;
  background-color: #17141a;
  background-image: url("images/bg-list.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  max-height: calc(100vh - ((100vw/10 - 2*8px - 60px/10)*1.18519) - 30px - 60px);
  overflow-y: auto; }

card {
  margin: 0; }
  card .card-rarity-Regular {
    outline-color: #7f7f7f; }
  card .card-rarity-Common {
    outline-color: #82b577; }
  card .card-rarity-Rare {
    outline-color: #3d77c6; }
  card .card-rarity-Supreme {
    outline-color: #a055a0; }
  card .card-rarity-Legendary {
    outline-color: #c0a659; }
  card > div {
    width: 61px;
    height: 72px;
    background-size: 100%;
    display: block;
    float: left;
    margin: 8px 8px;
    position: relative;
    outline: 3px solid red;
    border: 2px solid #18181e;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    background-color: #000; }
  card .card-name {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    height: 14px;
    width: 100%;
    text-align: center; }
  card .card-cost {
    position: absolute;
    top: -12px;
    right: -2px;
    background-image: url("images/bg-manacost.png");
    background-size: 100%;
    color: #fff;
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    z-index: 2; }

.card-popover {
  width: 200px;
  color: #fff; }
  .card-popover > div {
    width: 50%;
    float: left;
    line-height: 24px;
    height: 24px; }
  .card-popover [class*="icon-"] {
    float: left;
    height: 24px;
    width: 24px;
    margin-right: 3px; }
  .card-popover small {
    font-size: 10px; }

/*# sourceMappingURL=app.css.map */
