
@each $name in 'attackspeed' 'count' 'damage' 'duration' 'health' 'range' 'speed' 'targets'{
  .icon-#{$name} {
    background-image: url('images/icon-#{$name}.png');
    height: 64px;
    width: 64px;
    display: inline-block;
    background-size: 100%;
  }
}

.card-selection{
  height: 100px;
  margin-top: 10px;
  margin-bottom: 40px;
}

card{
  margin: 0;

  //Rarities
  .card-rarity-Regular{outline-color: #7f7f7f;}
  .card-rarity-Common{outline-color: #82b577;}
  .card-rarity-Rare{outline-color: #3d77c6;}
  .card-rarity-Supreme{outline-color: #a055a0;}
  .card-rarity-Legendary{outline-color: #c0a659;}


  &>div{
    width: 61px;
    height: 72px;
    background-size: 100%;
    display: block;
    float: left;
    margin: 8px 6px;
    position: relative;
    outline: 3px solid red;
    border: 2px solid #18181e;
  }
  .card-name{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    overflow: hidden;
    height: 14px;
    width: 100%;
    text-align: center;
  }
  .card-cost{
    position: absolute;
    top: -8px;
    right: 2px;
    background: #4b24b8;
    border: 2px solid #d5aafb;
    color: #fff;
    height: 21px;
    width: 21px;
    text-align: center;
    z-index: 2;
  }
}

.card-popover{
  width: 200px;
  &>div{
    width: 50%;
    float: left;
    line-height: 24px;
    height: 24px;
  }
  [class*="icon-"]{
    float: left;
    height: 24px;
    width: 24px;
    margin-right: 3px;
  }
  small{font-size: 10px;}
}