//Width of a top card: calc(100vw/10 - 2*8px - 60px/10)
$cardWidthToHeightRatio: 1.185185185185185;
$bgBody: #15142c;

//For testing
//.card-cost, .card-list, card>div{background: #fff !important; color: #000 !important;}
//$bgBody: #fff;


body{
  background: $bgBody;
}

.popover{
  .popover-title{
    color: #fff;
  }
}

@each $name in 'attackspeed' 'count' 'damage' 'duration' 'health' 'range' 'speed' 'targets' 'radius'{
  .icon-#{$name} {
    background-image: url('images/icon-#{$name}.png');
    height: 64px;
    width: 64px;
    display: inline-block;
    background-size: 100%;
  }
}

.card-cost{
  background-image: url('images/bg-manacost.png');
  background-size: 100%;
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.card-selection{
  //margin: 30px;
  //width: calc(100% - 260px);
  //height: calc((100vw/10 - 2*8px - 280px/10)*#{$cardWidthToHeightRatio});
  margin-top: 10px;
  margin-bottom: 40px;

  card>div{
    width: calc(100vw/10 - 2*8px); //10 card - 2xcards_margin - cards_selection_margion/10
    height: calc((100vw/10 - 2*8px)*#{$cardWidthToHeightRatio});
  }
}

.card-filters{
//    height: 30px;
//    margin: 10px;
}

.card-list{
  //margin: 30px;
  //padding: 10px;
  //width: calc(100% - 60px);
  border: 3px solid #35383c;
  background-color: #17141a;
  background-image: url('images/bg-list.png');
  background-position: right bottom;
  background-repeat: no-repeat;

  max-height: calc(100vh - ((100vw/10 - 2*8px - 60px/10)*#{$cardWidthToHeightRatio}) - 30px - 60px - 50px);

  overflow-y: auto;
}

card{
  margin: 0;


  //Rarities
  .card-rarity-Regular{outline-color: #7f7f7f;}
  .card-rarity-Common{outline-color: #82b577;}
  .card-rarity-Rare{outline-color: #3d77c6;}
  .card-rarity-Supreme{outline-color: #a055a0;}
  .card-rarity-Legendary{outline-color: #c0a659;}


  &>div{
    width: 61px;
    height: 72px;
    background-size: 100%;
    display: block;
    float: left;
    margin: 8px 8px;
    position: relative;
    outline: 3px solid red;
    border: 2px solid #18181e;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    background-color: #000;
  }
  .card-name{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    overflow: hidden;
    height: 14px;
    width: 100%;
    text-align: center;
  }
  .card-cost{
    position: absolute;
    top: -12px;
    right: -2px;
    z-index: 2;
  }
}

.card-popover{
  width: 200px;
  color: #fff;
  .card-field{
    width: 50%;
    float: left;
    line-height: 24px;
    height: 24px;
  }
  [class*="icon-"]{
    float: left;
    height: 24px;
    width: 24px;
    margin-right: 3px;
  }
  .card-cost{
    position: absolute;
    top: 2px;
    right: 0;
  }
  .card-description{
    font-size: 12px;
    margin-top: 5px;
  }
  small{font-size: 10px;}
}