$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
$tooltip-bg: #0b3240;
$popover-border-color: #dabf7f;
$popover-arrow-color: $popover-border-color;
$dropdown-border: $popover-border-color;
$list-group-bg: rgba(0,102,138,1);
$list-group-hover-bg: $popover-border-color;
$list-group-border: $popover-border-color;

@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/angular-motion/dist/angular-motion.min.css";