<div class="col-md-10 col-xs-12 pull-left">
    <div class="card-selection">
        <card class="am-fade" ng-repeat="s in selection" value="cardsById[s.id]" ng-click="removeCard($index)"></card>
    </div>
</div>

<div class="col-md-2 col-xs-12 pull-right card-stats">
    <table class="table table-condensed">
        <tr>
            <th>{{stats.typeMinions}} Minions</th>
            <td><div class="card-cost">{{(stats.costMinions/stats.typeMinions|number:1)*1}}</div></td>
        </tr>
        <tr>
            <th>Building&nbsp;DPS</th>
            <td>{{stats.dpsBuilding|number:0}}/s</td>
        </tr>
        <tr>
            <th>Air&nbsp;DPS</th>
            <td>{{stats.dpsAir|number:0}}/s</td>
        </tr>
        <tr>
            <th>Air&nbsp;AOE&nbsp;DPS</th>
            <td>{{stats.dpsAirAOE|number:0}}/s</td>
        </tr>
        <tr>
            <th>Ground&nbsp;DPS</th>
            <td>{{stats.dpsGround|number:0}}/s</td>
        </tr>
        <tr>
            <th>Ground&nbsp;AOE&nbsp;DPS</th>
            <td>{{stats.dpsGroundAOE|number:0}}/s</td>
        </tr>
        <tr>
            <th>Avg.&nbsp;Creatures'&nbsp;Health</th>
            <td>{{stats.totalHealth/stats.totalCreatures}}</td>
        </tr>
        <tr>
            <th>Avg.&nbsp;Speed</th>
            <td>{{(stats.totalSpeed/stats.typeMinions|number:1)*1}}</td>
        </tr>
        <tr>
            <th>Avg.&nbsp;Range</th>
            <td>{{(stats.totalRange/stats.totalRanged/1000|number:1)*1}}</td>
        </tr>
        <tr>
            <th>Melee</th>
            <td>{{(stats.typeMinions-stats.totalRanged)}}</td>
        </tr>
    </table>
    <pre>{{stats|json}}</pre>
</div>

<div class="col-md-10 col-xs-12 pull-left card-filters">
    <input class="form-control" ng-model="filters.name"/>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="filters.HitsFlying"> Can Hit Air
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="filters.Flying"> Flying
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="filters.isRanged"> Ranged
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="filters.isAOE"> AoE
        </label>
    </div>
    <div class="btn-group btn-group-xs">
        <div class="btn btn-{{filters.manacost.indexOf(c)>=0?'primary':'default'}}" ng-repeat="c in costs" ng-click="toggleFilterArrayValue('manacost', c)">{{c}}</div>
    </div>
    <div class="btn-group btn-group-xs">
        <div class="btn btn-{{filters.type.indexOf(t)>=0?'primary':'default'}}" ng-repeat="(t,v) in types" ng-click="toggleFilterArrayValue('type', t)">{{v}}s</div>
    </div>
</div>


<div class="col-md-10 col-xs-12 pull-left card-list">

    <card ng-repeat="card in cards|orderBy:'manacost'" value="card" ng-click="selectCard(card)"></card>
    <div class="clearfix"></div>
    {{cards.length}} Cards
</div>