<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-fw fa-lg fa-question-circle-o"></i>&nbsp;Help
        <i class="fa fa-times pull-right" ng-click="$dismiss()"></i>
    </h4>
</div>
<div class="modal-body">
    <h4>How it works</h4>
    <p>
        This is a deck builder for the game <a href="http://minionmastersthegame.com/" target="_blank">Minion Masters</a>.<br/>
        The aim of this tool is to allow people to quickly create & share decks for the game using a simple URL.<br/>
        <ul>
            <li>Adding a card works exactly like in the game: click on it to have it put at the top in your deck.</li>
            <li>To remove card simply click on it on your deck</li>
            <li>Hover over a card for more information</li>
            <li>To share a deck you can click on the <b><i class="fa fa-fw fa-share-alt"></i>&nbsp;Share</b> button at the top, or simply copy the URL of the browser.</li>
        </ul>
    </p>

    <br/>
    <h4>Additional notes</h4>
    <p><i class="fa fa-fw fa-lg fa-copyright"></i> This is not an official application.</p>
    <p><i class="fa fa-fw fa-lg fa-refresh"></i> The data is <u>not</u> automatically refreshed. Currently, the freshness of the data will depend on the game's developers ability to maintain a definition file in the future.</p>
    <p><i class="fa fa-fw fa-lg fa-save"></i> Currently, your decks are not saved anywhere, the URL is the only means of saving.</p>
    <p><i class="fa fa-fw fa-lg fa-line-chart"></i> The statistics block is informational, and try to capture a few simple things.</p>
    <p><i class="fa fa-fw fa-lg fa-bug"></i> If you find any bug, or have a feature or idea you would like to see added, you can fill a form for them <a href="https://github.com/Cadrach/mm-builder/issues" target="_blank">here</a>.</p>
    <p><i class="fa fa-fw fa-lg fa-users"></i> If you want to reach me to play a game, say thanks or anything else I play under "Cadrach" on steam.</p>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>